.app-main {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}

.app-main-grid {
  display: flex;
  flex-flow: row;
  flex-grow: 1;
  width: 100%;
  position: relative;
}
.app-main-col {
  background-color: fuschia;
  flex: 1;
  position: relative;
  display: flex;
  flex-flow: column;
  margin: 0 1rem;
}
.app-main-col-item {
  flex: 1;

  /* give the outermost container a predefined size */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #fff;

  display: flex;
  flex-direction: column;
}

.section {
  margin: 0;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  /* for Firefox */
  min-height: 0;
}

.content {
  padding: 10px;
  background: #dee2e6;
}

.scrollable-content {
  background: white;
  flex-grow: 1;

  overflow: auto;

  /* for Firefox */
  min-height: 0;
}
